div.payment_module a.yellow_bitcoin:after {
    display: block;
    content: "\f054";
    position: absolute;
    right: 15px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777;
}
div.payment_module.yellow_bitcoin .what_is_bitcoin a {
	font-size: 11px;
}
div.payment_module a.yellow_bitcoin {
    background: #fbfbfb;
    display: block;
    border: 1px solid #d6d4d4;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 17px;
    line-height: 23px;
    color: #333;
    font-weight: bold;
    padding: 25px 40px 26px 15px;
    letter-spacing: -1px;
    position: relative;
}

/*******************************/
/********** v1.5 fix ***********/
div.payment_module.v15 a.yellow_bitcoin {
    overflow: hidden;
    padding: 20px 40px 20px 15px;
    margin-bottom: 5px;
}
div.payment_module.v15 a.yellow_bitcoin:after {
    /*content: none;*/
}
div.payment_module.v15 .what_is_bitcoin a{
    font-size: 10px;
}